extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/star2.png', width='360')
		h1 Bienvenido
		p Este es un prototipo de pagina web realizado con <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a>
		p Incluye una API con CRUD de Star Wars
		p El tutorial seguido fue de la siguiente <a href='https://auth0.com/blog/developing-web-apps-and-restful-apis-with-keystonejs/' target='_blank'>pagina</a>
		hr
